<Configuration>
    <Appenders>
        <Socket name="Socket" host="47.98.102.190" port="4560">
            <JsonLayout compact="true" eventEol="true" />
        </Socket>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Socket"/>
        </Root>
    </Loggers>
</Configuration>